.navbar {
  color: #fff;
  width: -webkit-fill-available;
  z-index: 100;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: inherit;
}

.navHeader h1 {
  font-size: 1.5rem;
}

.openButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
}

.overlay {
  background: var(--dark-teal);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translateY(100%);
  width: inherit;
  z-index: 999;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  transition:
    transform 0.7s cubic-bezier(0.62, 0.05, 0.01, 0.99),
    opacity 0.3s ease;
}

.overlayHeader {
  color: #fff;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease;
  width: inherit;
}

.overlayHeader h1 {
  font-size: 1.5rem;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
}

.overlayContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: flex-end;
  opacity: 0;
  padding: 20px;
  transition: opacity 0.8s ease;
}

.overlay.open {
  font-size: 1.3rem;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.overlay.open .overlayHeader {
  opacity: 1;
  transition-delay: 0.6s;
}

.overlay.open .overlayContent {
  opacity: 1;
  transition-delay: 0.8s;
}

.overlay.fadeOut {
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  transition: opacity 0.35s ease;
}

.menuList {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.menuList li {
  line-height: 45px;
  margin: 20px 0;
}

.menuList li a {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}

.menuList li .active {
  text-decoration: underline;
  text-underline-offset: 12px;
}

.overlayContent p {
  margin-top: 0;
}

.overlayContent p:last-child {
  margin-bottom: 0;
}