/* @import "tailwindcss"; */

:root {
  --dark-teal: #464c47;
  --light-grey: #e1dfdd;
  --light-yellow: #fffbc8;
  --black: #000;
  --white: #fff;
  --primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --title-1: 56px;
  --title-2: 40px;
  --title-3: 30px;
  --title-4: 20px;
  --paragraph-text: 20px;

  --title-desktop-1: 124px;
  --title-desktop-2: 40px;
  --title-desktop-3: 30px;
  --title-desktop-4: 22px;
  --paragraph-desktop-text: 22px;

  /* --header-height: 90px;
  --modal-header-height: 75px;
  --layout-top-padding: 40px;
  --layout-horizontal-padding: 20px;
  --section-vertical-padding: 100px;
  --page-hero-padding-top: 132px;
  --send-message-padding: 104px 0 162px;
  --full-screen-gutters: 90px;
  --cursor-dimension: 124px;
  --scene-max-height: 850px;
  --main-color: var(--black);
  --transparent-white: hsla(0, 0%, 100%, 0.423);
  --lg-paragraph-text: 30px;
  --lg-description-text: 32px;
  --accordion-item-number: 20px;
  --mobile-click-area-text: 22px;
  --base-scale3d: scale3d(1, 1, 1);
  --base-translate3d: translate3d(0, 0, 0); */
}

html,
body {
  background: var(--light-grey);
  color: var(--black);
  font-family: var(--font-inter), sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

body.menu-open {
  overflow: hidden;
  height: 100dvh;
}
