.homeHero {
  background-color: var(--light-grey);
  height: inherit;
  margin-top: 70px;
}

.heroDescription {
  text-transform: uppercase;
  font-size: var(--paragraph-text);
  margin: 0 0 30px 0;
  max-width: 65vw;
}

.heroPic {
  margin: 0 0 20px 0;
}

.heroTitle,
.heroName {
  text-transform: uppercase;
  font-size: var(--title-1);
  margin: 0 0 25px 0;
  line-height: calc(var(--title-1) - 4px);
  font-weight: 500;
  letter-spacing: -1px;
}

.heroName {
  margin: 20px 0;
  text-align: right;
}