.homeHero {
  margin: 60px 0;
}

.heroDescriptionMobile {
  font-size: var(--paragraph-text);
  margin: 0 0 40px 0;
  max-width: 265px;
  text-transform: uppercase;
  line-height: 25px;
}

.heroDescriptionDesktop {
  display: none;
}

.heroPicMobileWrapper {
  position: relative;
  width: 360px;
  height: 290px;
  margin-bottom: 20px;
  -webkit-mask-image: url("/images/masks/hero-mobile-mask.svg");
  mask-image: url("/images/masks/hero-mobile-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  z-index: 0;
  isolation: isolate;
}

.heroPicDesktopWrapper {
  display: none;
  position: relative;
  width: 800px;
  height: 350px;
  -webkit-mask-image: url("/images/masks/hero-desktop-mask.svg");
  mask-image: url("/images/masks/hero-desktop-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  z-index: 0;
  isolation: isolate;
}

.heroPicMobile {
  object-fit: cover;
  object-position: 60% center;
}

.heroPicDesktop {
  object-fit: cover;
  object-position: 60% center;
}

.heroNameContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}

.heroTitle,
.heroName {
  font-size: var(--title-1);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: calc(var(--title-1) - 4px);
  margin: 0 0 25px 0;
  max-width: 300px;
  text-transform: uppercase;
}

.heroName {
  margin: 20px 0 0 0;
  text-align: right;
}

@media screen and (min-width: 1400px) {

  .homeHero {
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .heroDescriptionMobile {
    display: none;
  }

  .heroDescriptionDesktop {
    display: block;
    font-size: var(--lg-paragraph-text);
    max-width: 320px;
    padding-left: 300px;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 500;
    margin: 0;
  }

  .heroNameContainer {
    justify-content: space-between;
  }

  .heroPicMobileWrapper {
    display: none;
  }

  .heroPicDesktopWrapper {
    display: block;
  }

  .heroTitle,
  .heroName {
    font-size: var(--title-desktop-1);
    font-weight: 500;
    letter-spacing: -10px;
    line-height: calc(var(--title-desktop-1) - 16px);
    max-width: 500px;
  }

  .heroName {
    margin: 0;
  }
}