.homeHero {
  margin: 60px 0;
}

.heroDescriptionMobile {
  font-size: var(--paragraph-text);
  margin: 0 0 40px 0;
  max-width: 265px;
  text-transform: uppercase;
  line-height: 25px;
}

.heroDescriptionDesktop {
  display: none;
}

.heroPicMobile {
  margin: 0 0 20px 0;
}

.heroPicDesktop {
  display: none;
}

.heroNameContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}

.heroTitle,
.heroName {
  font-size: var(--title-1);
  font-weight: 500;
  letter-spacing: -1px;
  line-height: calc(var(--title-1) - 4px);
  margin: 0 0 25px 0;
  max-width: 300px;
  text-transform: uppercase;
}

.heroName {
  margin: 20px 0 0 0;
  text-align: right;
}

@media screen and (min-width: 1400px) {

  .homeHero {
    margin-bottom: 200px;
  }

  .heroDescriptionMobile {
    display: none;
  }

  .heroDescriptionDesktop {
    display: block;
    font-size: var(--lg-paragraph-text);
    max-width: 320px;
    padding-left: 300px;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 500;
    margin: 0;
  }

  .heroNameContainer {
    justify-content: space-between;
  }

  .heroPicMobile {
    display: none;
  }

  .heroPicDesktop {
    display: block;
    margin: 0;
  }

  .heroTitle,
  .heroName {
    font-size: var(--title-desktop-1);
    font-weight: 500;
    letter-spacing: -10px;
    line-height: calc(var(--title-desktop-1) - 16px);
    max-width: 500px;
  }

  .heroName {
    margin: 0;
  }
}